body {
    background-color: #f1fcfc;
    font-family: 'Poppins', sans-serif;

}
a {
    text-decoration: none;
}
.page-container {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;


}

.title-container {
    margin-left: 20px;

    display: flex;
    padding-top: 50px;
    display: flex;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}



.title-area {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: rgb(18, 51, 51);
    font-size: clamp(1rem, 1vw, 1rem);
}

img {
    width: clamp(80px, 15vw, 160px);
    height: auto;
    margin-right: 10px;
}

#home-name {
    font-size: clamp(1rem, 9vw, 2.7rem);
}

.search-box {
    font-family: 'Poppins', sans-serif;
    left: 10px;
    font-size: clamp(1rem, 1vw, 1rem);
    display: flex;
    align-items: center;
    background: #d3d3d3;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 600px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#search {
    width: clamp(20px, 0vw, 0px);
    height: auto;
    margin-right: 10px;
}

.search-box input {

    font-family: 'Poppins', sans-serif;
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #888;


}

#search-box:hover {
    background-color: #51CCB7;
}

.search-box button {

    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

#patients {
    width: 56.6px;
    margin-left: 13px;

}

.insidenp {

    background: #fffde7;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 19px;

    padding: 5px;
}

.number-of-patients {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    background-color: #0d0dd8;
    padding: 5px;
    margin-left: 10px;
    margin-top: 120px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;

}

#add-button {
    margin-top: 60px;
    border: none;
    background: none;
    padding: 0px;
    border-radius: 10px;
    background-color: #51CCB7;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 200px;
    font-size: 40px;
    color: #296158;
}

#add-button:hover {
    background-color: #62e9d0;
    cursor: pointer;
    color: #ffffff;

    transition: ease-in-out, 0.5s;
}

.patient-container {
    padding-right: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    max-width: 900px;

}

.patient-card {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
}

.arrow {

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.arrow button {
    font-size: 54px;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
}

.arrow button:hover {
    color: rgb(0, 4, 255);
}


.patient-card:hover {
    background-color: #51CCB7;
    transition: 0.5s;

}

.patient-info {
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    font-weight: bold;
    color: #555;

}

.patient-id {
    font-size: 16px;
}

.patient-name {
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}

.first-line {
    display: flex;
    flex-direction: row;

}

.patient-details {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #777;
    padding-bottom: 10px;
}

.divider {
    color: #bbb;
}

/*patientInfo */

.top-part {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.left-side-top {
    display: flex;
    align-items: center;
}

#go-home {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

#home-button {
    border: none;
    background: #d9d9d9;
    cursor: pointer;
    border-radius: 10px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-button:hover {
    background-color: #858585;
    transition: 0.3s ease-in-out;
}

#backto {
    font-size: 120%;
    margin-left: 10px;
    color: #555;
}

.right-side-top {
    display: flex;
    margin-left: 0px;
    gap: 10px;
}

.editbtn,
.delbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 15px;
    width: auto;
    max-width: 200px;
    height: 40px;
    padding: 1px 5px;
    cursor: pointer;
}

.editbtn {
    background-color: #81CFEC;
}

#edit-profile {
    border: none;
    background: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}



.delbtn {
    background-color: #F5DCDD;
}

#delete-patient {
    border: none;
    background: none;
    color: #F85050;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 0px;
}

#edit-icon {
    width: 18px;
    height: 18px;

}

#delete-icon {
    width: 28px;
    height: 28px;
}
.editbtn:hover {
    background-color: #6abfdc;
}

.delbtn:hover {
    background-color: #f2c2c3;
}

#edit-profile:hover {
    color: #e8f8ff;
}

#delete-patient:hover {
    color: #d93838;
}

.big-blue-bg {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #769BB2;
    margin: 40px auto;
    border-radius: 10px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0
}




.photo {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("assets/account_circle.png");
    background-size: cover;
    background-color: white;
    border: 8px solid #51CCB7;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    z-index: 2;
    justify-content: center;
}

.patient-id-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}

.patient-name {
    font-size: 140%;
    font-weight: bold;
}

.photo img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.date-add {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #585858;
    font-size: 12px;
}

.para-ma-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    padding-left: 20px;
    margin-bottom: -15px;
    margin-left: 11%;
   
}

.patient-information {
    background-color: #51CCB7;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -10px;
    /* Overlaps the box border */
}


.first-part,
.third-part,
.second-part {
    position: relative;
    border: 10px solid #51CCB7;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    z-index: 1;
    text-align: center;
    width: 80%;
    max-width: 1600px;
    display: flex;
    
}

.first-part,
.second-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    margin: 20px auto;
}

.third-part{
    
    flex-direction: row;
    gap: 10px ;
    justify-content:left;

    font-size: 100%;
    margin: 20px auto;
}
.first-part {
    padding-top: 75px;
}

.second-part,
.third-part {
    padding-top: 30px;
}



.info-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    text-align: left;
}

.info-patient1,
.info-patient2,
.info-patient3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    flex-direction: column;
    gap: 5px;
}

.information,
.info-title {
    font-size: 80%;
    color: #585858;
    font-weight: bold;
}

.information {
    color: black;
}

#mh,
#ah {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    font-size: 100%;
    color: white;
    font-weight: bold;
    text-align: left;
    border: none;
    font-family: 'Poppins', sans-serif;
}

#mh {
    background-color: #51CCB7;
    z-index: 1;
}

#ah {
    background-color: #62e9d0;
    z-index: 2;
}

#mh:hover{
    background-color: #338174;
}
#ah:hover{
    background-color: #3e9686;
}

.appointment-history,
.medical-condition {

    display: grid;
    flex-direction: row;
    width: 100%;

}

.medical-info {

    padding: 20px;
    border-radius: 10px;
    background-color: #E4E9F5;
    width: 80%;
}

.current-medication {
    padding: 20px;
    border-radius: 10px;
    background-color: #E4E9F5;
    width: 30%;
    max-width: 600px;

}

.medical-hstry1,
.medical-hstry2{
    display: flex;
    flex-direction: column;
    background-color: #dee6e4;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: left;

}
.medical-hstry2 {
    width: 30%;


}

