body {
    background-color: rgb(252, 253, 243);
    font-family: 'Poppins', sans-serif;

}
a {
    text-decoration: none;
}
.page-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    
}

.title-container {
    display: flex;
    padding-top: 50px;
    display: flex;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    gap:10px;
}



.title-area {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: rgb(18, 51, 51);
    width: 100%;
    font-size: clamp(1rem, 1vw, 1rem);
}
.dashboard-container{
    width:100%;
    border: 5px solid #dbb13b;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    background-color:white;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
   
}
#dashboard-title{
    width: 90%;
    height: 40px;

}
.patients-container-area{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 50px;
}
.dashboard-dashboard{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 30px;
}
img {
    width: clamp(80px, 15vw, 160px);
    height: auto;
    margin-right: 10px;
}

#home-name {
    font-size: clamp(1rem, 5vw, 2.75rem);
}

.search-box {
    font-family: 'Poppins', sans-serif;
    left: 10px;
    font-size: clamp(1rem, 1vw, 1rem);
    display: flex;
    align-items: center;
    background: #d3d3d3;
    border-radius: 10px;
    padding: 10px 20px;
    width:100%;
    max-width: 600px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.search-box:hover{
    background-color: #9bc4bd;
    transition: 0.5s ease-in-out;
}

#search {
    width: clamp(20px, 0vw, 0px);
    height: auto;
    margin-right: 10px;
}
.patient-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-box input {

    font-family: 'Poppins', sans-serif;
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #888;


}

#search-box:hover {
    background-color: #51CCB7;
}

.search-box button {

    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

#patients {
    width: 56.6px;
    margin-left: 13px;

}

.insidenp {

    background: #fffde7;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 19px;

    padding: 5px;
}

.number-of-patients {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    background-color: #56bda2;
    padding: 60px 30px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;


}

#total-no{
    color: #2d325a; 
    font-size: 25px;
}


#add-button {
   
    border: none;
    background: none;
    padding: 0px;
    border-radius: 10px;
    background-color: #56bda2;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 40px;
    color: #296158;
}

#add-button:hover {
    background-color: #62e9d0;
    cursor: pointer;
    color: #ffffff;
    transition: ease-in-out, 0.5s;
}

.patient-container {
    width:100%;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    border: 5px solid #dbb13b;

    justify-content: center;
    align-items: center;
    

}
.patient-card-area{
    width:95%;
}
.patient-card {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
    width: 100%;
    position: relative;
}

.arrow {

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.arrow button {
    font-size: 54px;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
}

.arrow button:hover {
    color: rgb(0, 4, 255);
}


.patient-card:hover {
    background-color: #f1f195;
    transition: 0.5s;
    

}

.patient-info {
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    font-weight: bold;
    color: #555;
    width: 30%;


}

.patient-id {
    font-size: 16px;
}

.patient-name {
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}

.first-line {
    display: flex;
    flex-direction: row;

}

.patient-details {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #777;
    padding-bottom: 10px;
}

.divider {
    color: #bbb;
}

/*patientInfo */

.top-part {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.left-side-top {
    display: flex;
    align-items: center;
}

#go-home {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

#home-button {
    border: none;
    background: #d9d9d9;
    cursor: pointer;
    border-radius: 10px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-button:hover {
    background-color: #858585;
    transition: 0.3s ease-in-out;
}

#backto {
    font-size: 120%;
    margin-left: 10px;
    color: #555;
}

.right-side-top {
    display: flex;
    margin-left: 0px;
    gap: 10px;
}

.editbtn,
.delbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 15px;
    width: auto;
    max-width: 200px;
    height: 40px;
    padding: 1px 5px;
    cursor: pointer;
}

.editbtn {
    background-color: #56bda2;
}

#edit-profile {
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
}



.delbtn {
    background-color: #F5DCDD;
}

#delete-patient {
    border: none;
    background: none;
    color: #F85050;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 0px;
}

#edit-icon {
    width: 18px;
    height: 18px;

}

#delete-icon {
    width: 28px;
    height: 28px;
}
.editbtn:hover {
    background-color: #6abfdc;
}

.delbtn:hover {
    background-color: #f2c2c3;
}

#edit-profile:hover {
    color: #e8f8ff;
}

#delete-patient:hover {
    color: #d93838;
}

.big-blue-bg {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #2d325a;
    margin: 40px auto;
    border-radius: 10px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.photo {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("assets/account_circle.png");
    background-size: cover;
    background-color: white;
    border: 10px solid #56bda2;

    height: 130px;
    width: 130px;
    border-radius: 50%;
    z-index: 2;
    justify-content: center;
}

.patient-id-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}

.patient-name {
    font-size: 140%;
    font-weight: bold;
}

.photo img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.date-add {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #585858;
    font-size: 12px;
}

.para-ma-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    padding-left: 20px;
    margin-left: 11%;
    margin-bottom: -15px;
}

#mh,
#ah {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 20px;
    font-size: 100%;
    color: white;
    font-weight: bold;
    text-align: left;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #56bda2;
    z-index: 1;
    
}

#mh {
    margin-bottom: -65px;
    
}

#ah {
    margin-bottom: 15px;
}

#mh:hover{
    background-color: #338174;
}
#ah:hover{
    background-color: #3e9686;
}

.patient-information {
    background-color: #56bda2;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -10px;
}

.ser-container,
.first-part,
.third-part,
.second-part,
.fourth-part {
    position: relative;
    border: 10px solid #56bda2;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    z-index: 1;
    text-align: center;
    width: 80%;
    max-width: 1600px;
    display: flex;
    
}

.first-part,
.second-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    margin: 20px auto;
}

.third-part{
    flex-direction: column;
    gap: 10px ;
    justify-content:left;
    font-size: 100%;
    margin: 20px auto;
}
.first-part {
    padding-top: 75px;
}

.second-part,
.third-part {
    padding-top: 30px;
}
.container1{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}
.date-updated{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Equal columns */
    gap: 20px;
    width: 100%;
    text-align: left;
}

.info-patient1,
.info-patient2,
.info-patient3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
    width:100%;
}

.address-container{
    width: 100%;
    
}

.information,
.info-title {
    font-size: 80%;
    color: #585858;
    font-weight: bold;
    width: inherit;
}

.information {
    color: black;
}


.appointment-history,
.medical-condition {

    display: grid;
    flex-direction: row;
    width: 100%;

}

.medical-info {

    padding: 20px;
    border-radius: 10px;
    background-color: #E4E9F5;
    width: 80%;
}

.current-medication {
    padding: 20px;
    border-radius: 10px;
    background-color: #E4E9F5;
    width: 30%;
    max-width: 600px;

}

.medical-hstry1,
.medical-hstry2{
    display: flex;
    flex-direction: column;
    background-color: #dee6e4;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: left;

}
.medical-hstry2 {
    width: 30%;


}

#sort-appointment{
    border: none;
    background: #d9d9d9;
    cursor: pointer;
    border-radius: 10px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment-hstry{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.appointment-container{
    display: flex;
    flex-direction: column;
    background-color: #dee6e4;
    padding: 20px;
    border-radius: 10px;
    width: 92%;
    text-align: left;

}

.appointment-card{

    padding: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fa;
    
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 92%;
    position: relative;
}

.appointment-info{
    gap: 10px;
}

.first-line{
    gap: 10px;
}

.apt-arrow {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.apt-arrow button {
    font-size: 54px;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
}

.apt-arrow button:hover {
    color: #56bda2;
}
.lower-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
#add-button-appt {
    border: none;
    background: none;
    padding: 0px;
    border-radius: 10px;
    background-color: #56bda2;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: #296158;
}
#add-button-appt:hover{background-color: #62e9d0;}  

/*new session*/
.new-ds,
.date-today-ds{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
    
}


.big-blue-bg2 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color:   #2d325a;
    margin: 40px auto;
    border-radius: 10px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 10px;
}
.top-part2 {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    gap: 0px;
}

#ortho{
    border: 10px solid #56bda2;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    z-index: 1;
    text-align: center;
    width: 80%;
    max-width: 1600px;
    display: flex;
    flex-direction:column;
}

.first-part-nds{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;

}

.second-part-nds{
    border: 10px solid #56bda2;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    z-index: 1;
    text-align: center;
    width: 80%;
    max-width: 1600px;
    display: flex;
    flex-direction:column;
}
#title-name{
    color: white;
}

#service-name{
    border: none;
    background-color: #D9D9D9;
}

.tp-service{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: right;
    justify-self: right;
    justify-content: right;
    gap: 10px;
}

#add-ser-title{
    font-size: 90%;
    color: #5c5c5c;
}

#add-servicebtn,
#delete-servicebtn,#delete-tooth-chart{
    width: 50%;
    height: 50%;
    max-width: 40px;
    max-height: 40px;
    border: none;
    background: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooth-chart{
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #d9d9d9;
    border-radius: 10px;
}

#tooth-chart-img{
    width: 100%;
}
#add-toothchart{
    width: 20%;
    height: 40px;
    font-weight: bold;
    border: none;
    background: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51CCB7;
    color: #296158;
}
#add-servicebtn{
    font-size: 35px;
    background-color: #56bda2;
    color: #296158;
}

#delete-servicebtn{
    background-color: #fc6666;
    color: #970505;
}

#delete-servicebtn:hover{
    background-color: #bd3f3f;
    color: #ffffff;
    cursor: pointer;
    transition: ease-in-out, 0.5s;

}
#add-servicebtn:hover,#add-toothchart:hover{
    background-color: #62e9d0;
    cursor: pointer;
    color: #ffffff;
    transition: ease-in-out, 0.5s;
}
.service-title-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
   
    

}
.service-card{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    gap:10px;
}

#remark{
    margin-left: 20px;
    display: flex;
}

.service-line{
    background: #d9d9d9;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    width: 102%;
    justify-content: space-between;
    gap: 5px;
}
.tooth-input{
    border-top: none;
    border-right: none;
    border-left:none;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #d9d9d9;
    width: 40%;
    padding: 10px;
    color: black;

}

#remarks,
#service,
#status{
    appearance: none; 
    width: 50%;
    padding: 10px;
    border: 2px solid #0000003f;
    border-radius: 5px;
    background: #d9d9d9;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;

}

#remark{
    width: 10%;
}

#service{
    width:100%;
}

.divider2{
    font-size: 35px;
    color: #555;
}

#final-remarks{
    justify-self: center;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 10px;
    height:100%;
    border-radius: 10px;
    background-color: rgb(216, 213, 213);
}

.final-remarks-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width:100%;
    height:auto;
    border-radius: 10px;
    color: #5c5c5c;
    background-color: #0000003f;
}
#remarks-text-input{
    background-color: transparent;
    border: none;
    width: 95%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #333;
}
#remarks-text-input:hover{
    background-color: #b4b3b3;
    transition:0.5s;
    
}
.remarks-text{
    padding: 10px;
    font-size: 15px;
}

.remarks-c{

    width: 100%;
    height: auto;
}

.img-remark{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
#save-btn,
#check-out-btn{
    height: 40px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius:  10px;
    font-size: 15px;
    font-weight: bold;
}
.bottom-line{
    padding:5px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

}
#save-btn{
    width: 52%;
    background-color: #88ea6a;
    color: #345a29;
}
#save-btn:hover{
    background-color: #345a29;
    color: #88ea6a;
    transition: 0.5s;
}
.clear-btn{
    padding: 10px;
    border-radius: 10px;
    background-color: #51CCB7;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#296158;
    width: 15%;

}
.clear-btn:hover{
    background-color: #62e9d0;
    cursor: pointer;
    color: #ffffff;
    transition: ease-in-out, 0.5s;


}

#check-out-container{
    width: 100%;
}
    
#check-out-container2{
    width: 100%;
    height: 50px;
}
#check-out-btn2{
    height:100%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
}
#check-out-btn,#check-out-btn2{
    width: 100%;
    background-color: #E1EA6A;
    color:  #E8591C;
}
#check-out-btn:hover, #check-out-btn2:hover{
    background-color:#E8591C;
    color:   #E1EA6A;
    transition: 0.5s;
}

#chckout-img{
    width: 10px;
    height: 10px;
}

/*check-out*/

.check-out-top{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.top-part2 {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    height: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side-top2 {
    display: flex;
    align-items: center;
    padding-right: 10px;
    
}

.check-out-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: rgb(13, 8, 65);
    
}

.left-side-in, .right-side-in{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side-in{
    margin-left: 15%;
}
.right-side-in{

    gap: 40px;
    width: 50%;
}





#delete-service{
    padding: 15px;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 30px;
    border: none;
    color: #000000;
    width:30px;
    height: 30px;
    font-size: 20px;
}

#delete-service:hover{
    background-color: #acacac;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}


#divider{
    margin-top: 5px;
    color: #8f8c8c;
    font-weight: bold;
}


/*new-patient*/
.patient-info,.patient-info-ad,.patient-info1{
    border-top: none;
    border-left:none;
    border-right:none ;
    border-radius: 3px;
    border-bottom: solid 1px #000000;
    padding: 10px;
    font-size:14PX;
    font-family: 'Poppins', sans-serif;
   
}
.patient-info1{
    width:20%;
    text-align: center;
}
.patient-info{
    width: 90%;
}

.info-patient3{
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.patient-info-ad{
    width: 30%;
}
.address-input{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.medical-condition-card{
    display: flex;
    flex-direction: row;
    
}
.info-age{
    text-align: left;
    width:100%;
}

.remove-condition{
    border: none;
    background-color: transparent;
    border-radius: 100px;
    color: #333;
    font-weight: bold;
    padding: 15px;
    height: 10px;
    display:flex;
    align-items: center;
}

.remove-condition:hover{
    background-color: #e73d3d;
    color: white ;
    transition:0.5s;
    cursor: pointer;
}

.med-input{
    width: 80%;
    border-top:none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-left: 10px;

}

.curmed-input{
    border-top:none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
}

.med-input:hover{
    background-color: #bebebe;
    transition:0.5s;
    cursor: text;
}
.medical-hstry1,.medical-hstry2{
    gap:10px
}

.add-condition{
    border-radius:5px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;

}

.add-condition:hover{
    background-color: #bb7c7c;
    transition:0.5s;
    cursor: pointer;
}

.medical-condition-card2{
    display: flex;
    flex-direction: row;
    
}

.save-profbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 15px;
    width: 87%;
    
    height: 40px;
    padding: 1px 5px;
    cursor: pointer;
    background-color: #a1da91;
    
    color: #56754d ;
}
.save-profbtn:hover{
    background-color: #56754d;
    transition: 0.2s;
}
#save-profile:hover{
    background-color: #56754d;
    transition: 0.25s;
    color:white;

    
}
#save-profile{
    color: #56754d ;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    width:100%;
    font-weight: bold;

}

.service-title-container{
    margin-top:5px;
    align-items: center;
    
}
.infopt3-title2{
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: left;
    width: 53%;
    margin-bottom: 10px;

}
.hello-world-area{
    width: 100%;
    display: flex;
    

}
.infopt3-title1{
    display: flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100%;

}
.address-info{
    display:flex;
    gap:10px;
    justify-content: space-between;
    width: 100%;
}

.address-stuff{
    width:100%;
    gap:10px;
    display: flex;
    flex-direction: row;

}

.sec0nd-part{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.medications-area{
    background-color: rgb(184, 241, 220);
    width:80%;
    border-radius:10PX ;
    padding: 50px;
}

.remarks-text{
    height: auto;
}

/*billing*/

.billing-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.remove-prescription{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;

}
.remove-prescription:hover{
    background-color: rgb(39, 80, 39);
    transition: 0.5s;
}

.billing-table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    
}

td{
    background-color: #1a351b;
    color: white;
    padding: 10px;
}

#status{
    width: 100%;
    background-color: transparent;
    color: white;
}
.input-billing{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    color:white;    
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width:70%;
}
.table-data{
    width:20%;

}
.table-row{
    border-bottom: 2px solid #000000;
}
.add-pbtn,.save-data-btn{
    margin-top:10px;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.save-data-btn:hover{
    background-color: rgb(182, 243, 213);
    color:  #1a351b;
}
.add-pbtn:hover{
    background-color: #1a351b;
    color: white;
    transition: 0.5s;
    
}

/*edit-profile*/
.cancel-btn,.save-profile-btn{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}
.form-actions{
    padding:10px;
    display: flex;
    width: 90%;
    flex-direction: row;
    gap: 10px;
}
.save-profile-btn{
    background-color: rgb(186, 255, 192);
    color:rgb(56, 95, 52);

}
.save-profile-btn:hover{
    background-color: rgb(56, 95, 52) ;
    color:rgb(186, 255, 192);
    transition: 0.5s ease-in-out;
}

.cancel-btn{
    background-color: rgb(248, 208, 215);
    color:red;
}
.cancel-btn:hover{
    background-color:red;
    color: rgb(255, 186, 198);
    transition: 0.5s ease-in-out;

}
/*loading*/
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
    transition:  opacity 10s ease-in-out;
    
}
#loading-overlay.hidden {
    opacity: 0;
    pointer-events: none; /* Prevent interaction */
}
.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: column;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) { animation-delay: -0.3s; }
.dot:nth-child(2) { animation-delay: -0.1s; }
.dot:nth-child(3) { animation-delay: 0.1s; }
.dot:nth-child(4) { animation-delay: 0.3s; }
.dot:nth-child(5) { animation-delay: 0.5s; }

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}